<!-- (+) icon to add task -->
<!-- edit and delete icons too! -->
<!-- if checkbox, cross out -->

<h1> To-Do List</h1>

<form action="/addTask" method="POST">
    <input type="text" name="task" placeholder="Add a task +">
    <button type="submit">Add Task</button>
</form>