body {
    background-color: #E8EAE6;
}

.footer {
    background-color: #CDD0CB;
}

#title {
    color: #E8EAE6;
    /* font-family: Shadows Into Light; */
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.section {
    background-color: #FFF; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.section h2 {
    color: #FFF;
    font-family: Shadows Into Light;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}